extends ./common/common

block content 
    .row.row-body.row-ten
        .col-md-1
        .col-md-11 Họ và tên: Đỗ Tùng Lâm
    .row.row-body
        .col-md-1
        .col-md-11 Ngày sinh: 02/11/1999
    .row.row-body
        .col-md-1
        .col-md-11 Số điện thoại: 0984865802
    .row.row-body
        .col-md-1
        .col-md-11
            | facebook: 
            a(href='https://www.facebook.com/tdetl/', style='text-decoration: none;') www.facebook.com/tdetl/
    .row.row-body
        .col-md-1
        .col-md-11 Email: dotunglamnd@gmail.com
